{% extends "base.html" %}

{% block content %}

<div class="container">
    <h5>rynance - edit item</h5>

    <a href="{{ url_for('items') }}">< Back</a>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }} - <span class="text-muted">Make it negative for expenses</span><br>
            {{ form.amount() }}
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat_dom.label }}<br>
            {{ form.repeat_dom() }}
            {% for error in form.repeat_dom.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.recurring() }} {{ form.recurring.label }}
            {% for error in form.recurring.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }} <a class="btn btn-danger" href="{{ url_for('deleteitem') }}?item_id={{ form.uuid.data }}">Delete</a></p>
    </form>
</div>
  

{% endblock %}
