{% extends "base.html" %}

{% block content %}

<div class="container">
    <h5 class="text-center">Edit Record <i class="bi bi-pencil-square"></i></h5>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.type.label(class_='form-label') }}
            {{ form.type(class_='form-control') }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label(class_='form-label') }}<br>
            {{ form.name(size=64, class_='form-control') }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label(class_='form-label') }}<br>
            {{ form.description(size=32, class_='form-control') }}
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label(class_='form-label') }}<br>
            {{ form.amount(class_='form-control') }}
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.recurring_dom.label(class_='form-label') }}<br>
            {{ form.recurring_dom(class_='form-control') }}
            {% for error in form.recurring_dom.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.paid.label(class_='form-label') }}<br>
            {{ form.paid(class_='form-check-input big-check') }}
            {% for error in form.paid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit(class_='btn btn-primary') }} 
            <a class="btn btn-danger" href="{{ url_for('deleterecord', record_id=form.uuid.data) }}">Delete</a>
            <a class="btn btn-warning" href="{{ url_for('index') }}">Cancel</a>
        </p>
    </form>
</div>
  

{% endblock %}
