{% extends "base.html" %}

{% block content %}

<div class="container">
    <h5>recurring records</h5>

    <a class="btn btn-success" href="{{ url_for('addrecord') }}"><i class="bi bi-file-earmark-plus"></i> Add Recurring Record</a>
    
    <table class="table table-striped mt-2">
        <tr><th>Name</th><th>Description</th><th>Amount</th><th>DOM</th></tr>
        {% for rrecord in recurring_records %}
            <tr>
                <td><a href="{{ url_for('editrecurring') }}?rrecord_id={{ rrecord.uuid }}">{{ rrecord.name }}</a></td>
                <td>{{ rrecord.description }}</td>
                <td>{{ rrecord.amount }}</td>
                <td>{{ rrecord.recurring_dom }}</td>
            </tr>
        {% endfor %}
    </table>
    
</div>
  

{% endblock %}
